@*@model Retail.Controllers.CentralModel*@
@model Retail.Models.DBModels.Staff
    @{
        ViewData["Title"] = "AddStaff";
    }
    <h3 class="pt-2">Enter staff details</h3>
    <hr />
    <div style="width:500px">
        <form class="pt-1" method="post" asp-controller="CentralInventory" asp-action="AddStaffFunction">
            <div class="form-group">
                <label asp-for="Name"><strong>Name</strong></label>
                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"><strong>Phone Number</strong></label>
                <input asp-for="PhoneNumber" type="text" class="form-control" id="phone" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
                <label asp-for="Address"><strong>Address</strong></label>
                <textarea asp-for="Address" type="text" style="resize:none" class="form-control" id="address" required></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Age"><strong>Dob</strong></label>
                <input asp-for="Age" type="date" class="form-control" id="dob" required>
            </div>
            <div class="form-group">
                <label asp-for="Username"><strong>User Name</strong></label>
                <input asp-for="Username" type="text" class="form-control" id="username" placeholder="User Name" required>
            </div>
            <div class="form-group">
                <label asp-for="Password"><strong>Password</strong></label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label asp-for="Password"><strong>Confirm Password</strong></label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <label asp-for="Role"><strong>Role:</strong></label>
                <select asp-for="Role" class="form-control" id="role" required>
                    <option value="admin">Admin</option>
                    <option value="localstoreincharge">Local Store In-Charge</option>
                    <option value="localstoremanager">Local Store Manager</option>
                    <option value="pos">Cashier</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OutletId"><strong>Outlet Location:</strong></label>
                <select asp-for="OutletId" class="form-control" id="outlet" required>
                    <option value="1">Mumbai</option>
                    <option value="2">Kochi</option>
                    <option value="3">Trivandrum</option>
                    <option value="4">Calicut</option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark">Add Staff</button>
        </form>
    </div>











